<div class="back card">
    <div class="card card-body bg-light mb-2 mt-2">
  
      <div class="row g-0">
        <div class="col-md-4">
          <label for="code" class="control-label fontTitleMedium">Código:</label>
        </div>
        <div class="col-md-7">
          <span class ="fontRegular" name="code">
            {{scheduling?.code}}
          </span>
        </div>
      </div>
      <div class="row g-0">
              <div class="col-md-4">
                <label for="title" class="control-label fontTitleMedium">Título:</label>
              </div>
              <div class="col-md-7">
                <span class ="fontRegular" name="title">
                  {{scheduling?.title}}
                </span>
              </div>
          </div>
  
          <div class="row g-0">
              <div class="col-md-4">
                <label for="date" class="control-label fontTitleMedium">Data de Início:</label>
              </div>
              <div class="col-md-7">
                <span class ="fontRegular" name="date">
                  {{scheduling?.date | date: 'dd/MM/yyyy HH:mm':'UTC-6'}}
                </span>
              </div>
          </div>

          <div class="row g-0">
            <div class="col-md-4">
              <label for="endDate" class="control-label fontTitleMedium">Data de Encerramento:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="endDate">
                {{scheduling?.endDate | date: 'dd/MM/yyyy HH:mm':'UTC-6'}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="serviceCode" class="control-label fontTitleMedium">Código do serviço:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="serviceCode">
                {{scheduling?.license.serviceCode}}
              </span>
            </div>
          </div>

          <div class="row g-0">
            <div class="col-md-4">
              <label for="contactCode" class="control-label fontTitleMedium">Código do cliente:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="contactCode">
                {{scheduling?.contactCode}}
              </span>
            </div>
          </div>

          <div class="row g-0">
            <div class="col-md-4">
              <label for="collaboratorCode" class="control-label fontTitleMedium">Código do colaborador:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="collaboratorCode">
                {{scheduling?.license.collaboratorCode}}
              </span>
            </div>
          </div>

          <div class="row g-0">
            <div class="col-md-4">
              <label for="creatorCode" class="control-label fontTitleMedium">Criador:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="creatorCode">
                {{scheduling?.creatorCode}}
              </span>
            </div>
          </div>
  
          <div class="row g-0">
            <div class="col-md-4">
              <label for="createDate" class="control-label fontTitleMedium">Data de criação:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="createDate">
                {{scheduling?.createDate | date: 'dd/MM/yyyy HH:mm':'UTC-6'}}
              </span>
            </div>
          </div>
  
          <div class="row g-0">
            <div class="col-md-4">
              <label for="updaterCode" class="control-label fontTitleMedium">Atualizador:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="updaterCode">
                {{scheduling?.updaterCode}}
              </span>
            </div>
          </div>
  
          <div class="row g-0">
            <div class="col-md-4">
              <label for="updateDate" class="control-label fontTitleMedium">Data de Atualização:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="updateDate">
                {{scheduling?.updateDate | date: 'dd/MM/yyyy HH:mm':'UTC-6'}}
              </span>
            </div>
          </div>
  
    </div>
      
    <br>
      
    <span class="fontTitle" >Tem certeza?</span>

        <br>
        <div class="buttonsDiv">
          <button title="Voltar" type="button" class="fontButton btn btn-secondary" (click)="redirectToSchedulingList()"><i class="bi bi-arrow-return-left"></i></button>
          <button title="Apagar" type="submit" class="fontButton btn btn-danger" (click)="deleteScheduling()"><i class="bi bi-trash-fill"></i></button>
        </div>
  </div>  