<div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="fontTitle">Código</th>
              <th class="col-8 fontTitle">Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="onServiceClicked(service)">
              <td class="fontRegular">{{service?.code}}</td>
              <td class="fontRegular">{{service?.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>